* 
{
    box-sizing: border-box; 
}
h1
{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    color:rgb(8, 37, 39);
    margin-bottom: 60px;
    margin-top: 30px;
}

.div1 , .div2 , .div3
{
    border: 1px solid black;
    margin-bottom: 20px;
    background-color:rgb(224, 239, 240);
    margin-right: 1%;
    margin-left: 1%;
    height: auto;
    display: block;
}

.sectiontitle
{
    float: right;
    width: auto;
    height: auto;
    text-align: center;
    border: black 1px solid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(16, 39, 41);
    font-size: 20px;
    background-color: rgb(176, 234, 238);
}

p
  {
    padding: 16px;
    padding-top: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: rgb(43, 65, 52);
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;

}
.row
{
    width: 100%;
}
/********** Large devices only **********/
 @media (min-width: 992px) {
  .div1 , .div2 ,.div3{
      float: left;
      width: 31.33%;
  }
  }
  
  /********** Medium devices only **********/
 @media (min-width: 768px) and (max-width: 991px) {
    .div1 , .div2{
        float: left;
        width: 47%;
    }
    .div3{
        float: left;
        width: 96%;
    }
  }

  /********** Small devices only **********/
  @media (max-width: 767px) {
     .div1 , .div2 , .div3{
      float: left;
      margin-left: 2%;
      margin-right: 2%;
      width: 96%;

     }
  }

